main {
    display: grid;
    justify-items: center;
    align-items: center;
    text-wrap: balance;
    text-align: center;

    font-size: 1.4rem;

    & section {
        max-width: 55ch;
    }
    
    & p {
        margin: 1rem auto;
    }
}